@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'flowbite';

body {
  font-family: var(--outfit);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.swiper-pagination {
  position: unset !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox .checkmark {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #d0d5dd;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark::before {
  content: "";
  position: absolute;
  left: 6px;
  top: 3px;
  width: 5px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: #993ae2;
  border: 2x solid #993ae2;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.searchInput input {
  box-shadow: none !important;
}
.radio-option {
  display: flex;
  gap: 0.75rem;
  padding: 1rem;
  border: 1px solid #d1d5db;
  border-radius: 12px;
  cursor: pointer;
}

/* Target the parent label when radio is checked */
.radio-option input[type="radio"]:checked ~ .radio-option,
.radio-option:has(input[type="radio"]:checked) {
  border-color: #993AE2;
}